# Dependencies
node_modules/

# Production builds
dist/
dist-electron/
release/

# Development
.DS_Store
.vscode/
.idea/

# Environment variables
.env
.env.local
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
Thumbs.db

# TypeScript
*.tsbuildinfo

# Testing
coverage/
.nyc_output/

chroma
scripts
data.json

website